.loader-wrapper {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 48px; }
  .loader-wrapper p {
    position: absolute;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    transform: translateY(-6px); }

.loader {
  border: 3px solid transparent;
  border-top-color: #006678;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  z-index: 10;
  animation: spin 3s linear infinite; }

.loader::before {
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #00A8C4;
  bottom: 5px;
  content: '';
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  animation: spin 2s linear infinite; }

.loader::after {
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #90BDC4;
  bottom: 15px;
  content: '';
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
