.form-component {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: -64px;
  max-width: 300px;
  padding: 16px 16px;
  order: -1;
  transition: all 0.2s ease;
}
.form-component.open {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  flex: 1 1 40%;
  margin-bottom: 24px;
  margin-right: 0px;
}
.form-component > .fa {
  border: 0;
  border-radius: 50%;
  color: rgb(97, 97, 97);
  font-size: 2rem;
  width: 2rem;
  transition: all 0.1s ease;
  text-align: center;
  -webkit-text-stroke: 4px white;
}
.form-component > .fa.show {
  transform: rotate(135deg);
}
.form-component > .fa:hover {
  color: black;
}
.form-container {
  align-content: center;
  display: flex;
  flex-direction: column;
}
.form-container > button {
  background-color: #2ecc71;
  border-radius: 0;
  color: #ecf0f1;
  font-size: 1rem;
  font-weight: 600;
  height: 40px;
  outline: none;
  text-align: center;
  transition: all 0.1s ease;
  width: 100%;
}
.form-container > button:hover {
  background-color: #39a966;
  color: white;
}
.form-container > h2 {
  width: 100%;
  font-size: 1.4rem;
}
.form-container > label {
  flex: 1 1;
  font-weight: 600;
  margin-top: 32px;
  text-align: left;
}
.form-container > textarea {
  border: 1px solid lightgray;
  height: 40vh;
  margin: 16px 0;
  min-height: 100px;
  padding: 8px;
  resize: none;

  font-family: serif;
  font-size: 0.8rem;
  font-weight: 400;
  outline: none;
}
.input-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 8px 0;
}
.input-group > label,
.input-group > input {
  height: 36px;
  text-align: left;
  width: 100%;

  transition: all 0.1s ease-out;
}
.input-group > label {
  color: white;
  font-size: 0;
  margin-top: 16px;
}
.input-group > label.in-focus {
  color: rgb(148, 148, 186);
  font-size: 0.8rem;
  margin-top: 16px;
}
.input-group > input {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
  height: 24px;
  outline: none;
}

.input-group > input:focus {
  border-color: rgb(148, 148, 186);
}

.input-group > input:focus::-webkit-input-placeholder { color:transparent; }
.input-group > input:focus:-moz-placeholder { color:transparent; }
