.search-container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  padding: 0 8px; }
  .search-container input {
    border: none;
    height: 16px;
    padding: 8px 4px;
    width: 94%;
    font-family: Helvetica, Futura, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2px; }
  .search-container input:focus {
    border-bottom: 1px solid #006678;
    outline: none;
    transition: all ease-in-out 0.5s; }
  .search-container input:focus::-webkit-input-placeholder {
    color: transparent; }
  .search-container input:focus:-moz-placeholder {
    color: transparent; }
  .search-container .fa {
    background-color: white;
    color: #00A8C4;
    margin-left: -16px;
    margin-bottom: 8px;
    transition: all 0.1s ease;
    -webkit-text-stroke: 1px white; }
  .search-container i:hover {
    color: #006678;
    cursor: pointer; }
