.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: lightgray;
}
.journal-app {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 16px auto;
  padding-top: 48px;

  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
}
.body {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  position: relative;
}

@media (max-width: 599px) {
  .journal-app {
    margin: 0;
    width: 100%;
  }
  .body {
    flex-direction: column;
  }
}
