.modal-overlay {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.6);
}
.login-modal {
  align-items: center;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  position: absolute;
  top: 10vw;
  
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.24), 0 8px 8px rgba(0,0,0,0.32);
  font-family: Helvetica, Arial, sans-serif;
  outline: none;

  h1 {
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .input-group {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 24px;
    margin: 16px 0;
    width: 80%;

    i {
      align-self: center;
      margin: 0 20px 4px 12px;
    }

    input {
      border: none;

      font-size: 1rem;
      font-weight: 600;
      outline: none;
    }
  }
}
.login-modal-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 32px;
  width: 80%;

  button {
    border: none;

    cursor: pointer;
    outline: none;
    transition: all 200ms ease-out;
  }
  .cancel:hover {
    font-weight: 600;
    text-decoration: underline;
  }
  .login {
    height: 36px;
    margin: 8px;

    background: rgb(80, 80, 80);
    font-size: 0.8rem;
    color: white;
  }
  .login:hover {
    background: rgb(60, 60, 60);
  
    transform: scale(1.05);
  }
}
